@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(8, 11, 20, 0.55);
  backdrop-filter: blur(6px);

  z-index: $z-modal;
}

.spinner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  border-style: solid;

  animation: spin 0.8s linear infinite;
}

/* ---------------- Sizes ---------------- */

.sm .circle {
  width: 18px;
  height: 18px;
  border-width: 2px;
}

.md .circle {
  width: 28px;
  height: 28px;
  border-width: 3px;
}

.lg .circle {
  width: 42px;
  height: 42px;
  border-width: 4px;
}

/* ---------------- Colors ---------------- */

.primary .circle {
  border-color: rgba(124, 92, 252, .25);
  border-top-color: $color-primary;
}

.white .circle {
  border-color: rgba(255,255,255,.25);
  border-top-color: white;
}

/* ---------------- Animation ---------------- */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}