@use "../abstracts/variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;

  background: $color-background;

  color: $color-body;

  overflow-x: hidden;

  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

::selection {
  background: $color-primary;
  color: white;
}