@use "../../../styles/abstracts/variables" as *;

.techStack{

    display:flex;

    flex-wrap:wrap;

    gap:14px;

    margin-top:42px;

}

.techChip{

    display:flex;

    align-items:center;

    gap:10px;

    padding:12px 18px;

    border-radius:999px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.35s;

    cursor:default;

}

.techChip span{

    color:#D9DCEF;

    font-size:14px;

    font-weight:600;

}

.techChip svg{

    color:#8B5CF6;

}

.techChip:hover{

    transform:
        translateY(-5px)
        scale(1.04);

    border-color:#7C5CFF;

    background:rgba(124,92,255,.15);

    box-shadow:
        0 12px 28px rgba(124,92,255,.22);

}

@media(max-width:768px){

    .techStack{

        justify-content:center;

    }

}