@use "../../../styles/abstracts/variables" as *;
.hero {
  position: relative;

  min-height: 100vh;

  display: flex;

  align-items: center;

  background: $color-background;

  padding-top: 110px;

  padding-bottom: 80px;
}

.container {
  width: min(1280px, calc(100% - 80px));

  margin-inline: auto;

  display: grid;

  grid-template-columns: 1.1fr .9fr;

  align-items: center;

  gap: 100px;
}

.left {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.right {
  display: flex;

  justify-content: center;
}