@use "../../../styles/abstracts/variables" as *;

.hero {
  position: relative;

  min-height: 100vh;

  display: flex;
  align-items: center;

  background: $color-background;

  padding-top: 120px; // don't make this 170px or 180px
  padding-bottom: 60px;

  overflow: hidden;
}

.container {
  width: min(1280px, calc(100% - 80px));
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1.1fr 0.9fr;

  gap: 90px;

  align-items: start;   
}

.left {
  display: flex;
  align-items: center;

  padding-top: 0;   // remove extra top spacing
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 40px;   // adjust between 20px–60px if needed
}