@use "../../../styles/abstracts/variables" as *;

.stats{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:18px;

    margin-top:42px;

}

.statCard{

    position:relative;

    padding:24px;

    border-radius:22px;

    overflow:hidden;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    transition:.35s;

}

.statCard::before{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(
        135deg,
        rgba(124,92,255,.18),
        transparent
    );

    opacity:0;

    transition:.35s;

}

.statCard:hover{

    transform:translateY(-10px);

    border-color:#7C5CFF;

    box-shadow:
        0 15px 40px rgba(124,92,255,.22);

}

.statCard:hover::before{

    opacity:1;

}

.statIcon{

    width:54px;

    height:54px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:16px;

    color:#fff;

    margin-bottom:18px;

    background:linear-gradient(
        135deg,
        #A855F7,
        #7C5CFF
    );

}

.statCard h3{

    font-size:34px;

    color:#fff;

    margin-bottom:8px;

    font-weight:800;

}

.statCard p{

    color:#AEB3C7;

    margin:0;

}

@media(max-width:768px){

    .stats{

        grid-template-columns:1fr;

    }

}