.social{

    display:flex;

    align-items:center;

    gap:18px;

    margin-top:18px;

}

.socialLink{

    width:58px;

    height:58px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    text-decoration:none;

    color:#D7D9E7;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    transition:.35s;

}

.socialLink:hover{

    transform:
        translateY(-8px)
        rotate(8deg);

    color:#7C5CFF;

    border-color:#7C5CFF;

    background:rgba(124,92,255,.15);

    box-shadow:
        0 15px 35px rgba(124,92,255,.28);

}

@media(max-width:768px){

    .social{

        justify-content:center;

        width:100%;

        flex-wrap:wrap;

    }

}