@use "../../../styles/abstracts/variables" as *;

.content{
    max-width:580px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    gap:28px;

    animation:fadeUp .8s ease;
}

/* Badge */

.badge{

    display:inline-flex;

    align-items:center;

    gap:12px;

    width:fit-content;

    padding:14px 22px;

    border-radius:999px;

    background:rgba(124,92,255,.10);

    border:1px solid rgba(124,92,255,.22);

    color:#D8CBFF;

    font-size:15px;

    font-weight:600;

    backdrop-filter:blur(20px);

    transition:.35s;

    box-shadow:0 0 25px rgba(124,92,255,.12);
}

.badge:hover{

    transform:translateY(-3px);

    box-shadow:0 0 35px rgba(124,92,255,.28);

}

.badgeRocket{

    font-size:18px;
}

.badgeDot{

    width:10px;

    height:10px;

    border-radius:50%;

    background:#31f38b;

    margin-left:4px;

    box-shadow:0 0 18px #31f38b;

    animation:pulseDot 1.5s infinite;
}

/* Greeting */

.greeting{

    font-size:30px;

    color:#D8D8E5;

    font-weight:600;

    margin-top:20px;
}

/* Name */

.name{

    font-size:clamp(64px,7vw,88px);

    line-height:.95;

    font-weight:900;

    letter-spacing:-3px;
}

.gradientText{

    background:linear-gradient(
        90deg,
        #BB7EFF,
        #7C5CFF,
        #3FD6FF
    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

    background-size:200%;

    animation:gradientMove 6s linear infinite;
}

/* Title */

.title{

    font-size:38px;

    color:#ECECF5;

    font-weight:700;
}

/* Description */

.description{

    max-width:560px;

    color:#B9BDD2;

    line-height:1.9;

    font-size:19px;
}