@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.navbar {
  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  z-index: $z-navbar;

  transition: $transition-normal;

  background: transparent;

  &__container {
    @include flex-between;

    height: 90px;

    transition: $transition-normal;
  }

  &__actions {
    @include flex-center;

    gap: $space-md;
  }

  &--scrolled {

    background: rgba(5, 8, 22, 0.82);

    backdrop-filter: blur(18px);

    border-bottom: 1px solid rgba(255,255,255,.08);

    box-shadow: $shadow-md;

    .navbar__container{
      height: 75px;
    }

  }

}

.logo__text {
  font-size: 1.6rem;
  font-weight: 800;
  color: $color-white;
}

.desktop-menu {
  display: flex;
  gap: $space-xl;

  &__link {
    position: relative;

    color: $color-text-secondary;

    font-weight: 500;

    transition: $transition-normal;

    &:hover {
      color: $color-white;
    }

    &::after {
      content: "";

      position: absolute;

      left: 0;

      bottom: -8px;

      width: 0;

      height: 2px;

      background: $gradient-primary;

      transition: $transition-normal;
    }

    &:hover::after {
      width: 100%;
    }

    &--active {
      color: $color-white;

      &::after {
        width: 100%;
      }
    }
  }
}

.mobile-menu-btn {
  display: none;
}

.theme-toggle {
  @include flex-center;

  width: 42px;
  height: 42px;

  border-radius: 50%;

  color: $color-white;

  transition: $transition-normal;

  &:hover {
    background: rgba(255,255,255,.08);

    transform: rotate(15deg);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

@include tablet {
  .desktop-menu {
    display: none;
  }

.mobile-menu-btn {
  display: none;

  @include flex-center;

  width: 42px;
  height: 42px;

  border-radius: 50%;

  color: $color-white;

  transition: $transition-normal;

  &:hover {
    background: rgba(255,255,255,.08);
  }
}
}