@keyframes floatCard {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.about-image {
  animation: floatCard 6s ease-in-out infinite;
}

.experience-card {
  animation: floatCard 4s ease-in-out infinite;
}