@use "../../../styles/abstracts/variables" as *;

.about {
  padding: 140px 0;

  background: $color-background;

  position: relative;

  scroll-margin-top:100px;

}

.container {
  width: min(1280px, calc(100% - 80px));

  margin-inline: auto;

  display: grid;

  grid-template-columns: 500px 1fr;

  gap: 100px;

  align-items: center;
}

.left {
  display: flex;

  justify-content: center;
}

.right {
  display: flex;

  flex-direction: column;

  gap: 40px;
}