@use "../../../styles/abstracts/variables" as *;

.wrapper{
  display:grid;

  grid-template-columns:300px minmax(0,820px);

  justify-content:center;

  gap:36px;

  align-items:start;
}
.contact {
  padding: 110px 0;
  background: $color-background;
}

.container {
  width: min(1200px, calc(100% - 60px));

  margin-inline: auto;

  display: flex;

  flex-direction: column;

  gap: 50px;
}

.wrapper {
  display: grid;

  grid-template-columns: 320px 1fr;

  gap: 35px;

  align-items: stretch;
}