.menuButton{

    display:none;

    width:48px;

    height:48px;

    border:none;

    background:transparent;

    color:white;

    cursor:pointer;

    justify-content:center;

    align-items:center;

}

@media(max-width:900px){

    .menuButton{

        display:flex;

    }

}