@use "../../../styles/abstracts/variables" as *;

.projects {
  padding: 140px 0;

  background: $color-background;

  scroll-margin-top:100px;
}

.container {
  width: min(1280px, calc(100% - 80px));

  margin-inline: auto;

  display: flex;

  flex-direction: column;

  gap: 70px;
}